/// Custom
:root {
  --wrapper-width: 1280px;
  --flow-spacer: theme("padding.4");
}

a {
  --_a-clr: theme("colors.blue.500");
  --_a-td: underline;

  --_a-hover-clr: theme("colors.gray.500");
  --_a-hover-td: underline;

  color: var(--_a-clr);
  text-decoration: var(--_a-td);
  transition: all 0.3s ease-in-out;

  &:hover {
    color: var(--_a-hover-clr);
    text-decoration: var(--_a-hover-td);
  }
}

.wrapper {
  --_wrapper-width: var(--wrapper-width);

  max-width: min(100%, var(--_wrapper-width));

  &-fluid {
    --_wrapper-width: 100%;
  }
}

.flow {
  --_flow-spacer: var(--flow-spacer);

  & > * + * {
    margin-block-start: var(--_flow-spacer);
  }
}

.btn {
  --_btn-clr: theme("colors.neutral.50");
  --_btn-bg-clr: theme("colors.neutral.500");
  --_btn-border: thin solid var(--_btn-border-clr);
  --_btn-border-clr: theme("colors.neutral.700");

  --_btn-hover-clr: theme("colors.neutral.50");
  --_btn-hover-bg-clr: theme("colors.neutral.600");
  --_btn-hover-border: thin solid var(--_btn-hover-border-clr);
  --_btn-hover-border-clr: theme("colors.neutral.700");

  --_btn-spacer: theme("gap.1");
  --_btn-spacer-inline: theme("padding.2");
  --_btn-spacer-block: theme("padding.1");
  --_btn-td: none;

  display: inline-flex;
  align-items: center;
  gap: var(--_btn-spacer);
  color: var(--_btn-clr);
  background-color: var(--_btn-bg-clr);
  border: var(--_btn-border);
  padding-inline-start: var(--_btn-spacer-inline);
  padding-inline-end: var(--_btn-spacer-inline);
  padding-block-start: var(--_btn-spacer-block);
  padding-block-end: var(--_btn-spacer-block);
  text-decoration: var(--_btn-td);
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: var(--_btn-hover-clr);
    background-color: var(--_btn-hover-bg-clr);
    border: var(--_btn-hover-border);
    text-decoration: var(--_btn-td);
  }
}
