/// Project

.app {
  --_app-header-height: 128px;
  --_app-clr: theme("colors.neutral.950");
  --_app-bg-clr: theme("colors.neutral.100");

  --_app-header-title-clr: theme("colors.red.700");
  --_app-header-subtitle-clr: theme("colors.red.500");

  color: var(--_app-clr);
  background-color: var(--_app-bg-clr);

  &__header {
    min-height: var(--_app-header-height);

    &__title {
      color: var(--_app-header-title-clr);
    }

    &__subtitle {
      color: var(--_app-header-subtitle-clr);
    }
  }

  &__main {
    min-height: calc(100vh - var(--_app-header-height));
  }
}

.btn {
  &-grid {
    --_btn-grid-spacer: theme("padding.4");

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23ch, 2fr));
    gap: var(--_btn-grid-spacer);
  }

  &-mode {
    --_btn-clr: theme("colors.neutral.50");
    --_btn-bg-clr: theme("colors.neutral.700");
    --_btn-border-clr: theme("colors.neutral.900");

    --_btn-hover-clr: theme("colors.neutral.50");
    --_btn-hover-bg-clr: theme("colors.neutral.500");
    --_btn-hover-border-clr: theme("colors.neutral.900");

    position: fixed;
    right: theme("padding.4");
    top: theme("padding.4");
    z-index: 1;
  }

  &-top {
    position: fixed;
    right: theme("padding.4");
    bottom: theme("padding.4");
    z-index: 1;
  }

  &-article {
    --_btn-clr: theme("colors.red.500");
    --_btn-bg-clr: transparent;
    --_btn-border-clr: transparent;
    --_btn-border: none;

    --_btn-hover-clr: theme("colors.red.700");
    --_btn-hover-bg-clr: transparent;
    --_btn-hover-border-clr: transparent;
    --_btn-hover-border: none;

    --_btn-spacer-inline: 0;
    --_btn-spacer-block: 0;

    width: 100%;
  }

  &-riddle {
    --_btn-clr: theme("colors.neutral.950");
    --_btn-bg-clr: theme("colors.neutral.50");
    --_btn-border-clr: theme("colors.neutral.500");

    --_btn-hover-clr: theme("colors.neutral.950");
    --_btn-hover-bg-clr: theme("colors.neutral.300");
    --_btn-hover-border-clr: theme("colors.neutral.500");

    --_btn-spacer-inline: theme("padding.4");
    --_btn-spacer-block: theme("padding.3");

    display: flex;
    min-height: 5em;

    &:nth-of-type(2n) {
      --_btn-clr: theme("colors.neutral.50");
      --_btn-bg-clr: theme("colors.red.900");

      --_btn-hover-clr: theme("colors.neutral.50");
      --_btn-hover-bg-clr: theme("colors.red.700");
    }

    &:nth-of-type(3n) {
      --_btn-clr: theme("colors.neutral.50");
      --_btn-bg-clr: theme("colors.red.500");

      --_btn-hover-clr: theme("colors.neutral.50");
      --_btn-hover-bg-clr: theme("colors.red.700");
    }

    &:nth-of-type(4n) {
      --_btn-clr: theme("colors.neutral.950");
      --_btn-bg-clr: theme("colors.neutral.300");

      --_btn-hover-clr: theme("colors.neutral.950");
      --_btn-hover-bg-clr: theme("colors.neutral.500");
    }

    &:nth-of-type(5n) {
      --_btn-clr: theme("colors.neutral.50");
      --_btn-bg-clr: theme("colors.neutral.950");

      --_btn-hover-clr: theme("colors.neutral.50");
      --_btn-hover-bg-clr: theme("colors.neutral.700");
    }

    &:nth-of-type(6n) {
      --_btn-clr: theme("colors.neutral.950");
      --_btn-bg-clr: theme("colors.red.300");

      --_btn-hover-clr: theme("colors.neutral.50");
      --_btn-hover-bg-clr: theme("colors.red.500");
    }
  }
}

.article {
  --_article-clr: theme("colors.neutral.700");
  --_article-heading-clr: theme("colors.red.500");
  --_article-bg-clr: theme("colors.neutral.100");
  --_article-border-clr: theme("colors.neutral.300");
  --_article-border: 0.1em solid var(--_article-border-clr);
  --_article-spacer: theme("padding.4");

  color: var(--_article-clr);
  background-color: var(--_article-bg-clr);
  border: var(--_article-border);
  padding-block-start: var(--_article-spacer);
  padding-block-end: var(--_article-spacer);
  padding-inline-start: var(--_article-spacer);
  padding-inline-end: var(--_article-spacer);

  &__collapsible {
    &__heading {
      color: var(--_article-heading-clr);
    }

    &__content {
      color: var(--_article-clr);
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }

    &[aria-hidden="true"] {
      .article__collapsible__content {
        opacity: 0;
      }
    }
  }
}

body[data-dark="true"] {
  &.app {
    --_app-clr: theme("colors.neutral.50");
    --_app-bg-clr: theme("colors.neutral.900");

    --_app-header-title-clr: theme("colors.red.300");
    --_app-header-subtitle-clr: theme("colors.red.500");
  }

  .btn-mode {
    --_btn-clr: theme("colors.neutral.950");
    --_btn-bg-clr: theme("colors.neutral.300");
    --_btn-border-clr: theme("colors.neutral.100");

    --_btn-hover-clr: theme("colors.neutral.950");
    --_btn-hover-bg-clr: theme("colors.neutral.500");
    --_btn-hover-border-clr: theme("colors.neutral.100");
  }

  .article {
    --_article-clr: theme("colors.neutral.200");
    --_article-bg-clr: theme("colors.neutral.800");
    --_article-border-clr: theme("colors.neutral.700");
  }
}
