/// Project

.app {
  --_app-header-height: 128px;

  &__main {
    min-height: calc(100vh - var(--_app-header-height));
  }
}

.btn {
  &-grid {
    --_btn-grid-spacer: theme("padding.4");

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23ch, 2fr));
    gap: var(--_btn-grid-spacer);
  }

  &-mode {
    position: fixed;
    right: theme("padding.4");
    top: theme("padding.4");
    z-index: 1;
  }

  &-top {
    position: fixed;
    right: theme("padding.4");
    bottom: theme("padding.4");
    z-index: 1;
  }

  &-riddle {
    --_btn-spacer-inline: theme("padding.4");
    --_btn-spacer-block: theme("padding.3");

    display: flex;
    min-height: 5em;
  }
}
